.detail{
  padding:10px;
  padding-top:30px;
  box-sizing: border-box;
  max-width: 800px;
  h1{
    text-align: center;
    font-weight: bold;
    max-width: 800px;
    
  }
  .time{
    text-align: right;
  }
  .cont{
    margin-top:20px;
  }
}