@import '../styles/variables.scss';

.main {
  margin: auto;
  background: white;
  box-sizing: border-box;
  padding-bottom: 20px;

  .imgWrap,
  .title,
  .btn,
  .des {
    margin-top: $margin-middle-size;
    text-align: center;
    font-size: 18px;

    span {
      font-weight: bold;
    }
  }

  .title {
    font-size: 28px;
  }
}